* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}

h1 {
    color: #E53170;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Fredoka One', cursive;
}

img {
    max-width: 100%;
}

.container {
    width: 70%;
    margin: auto;
}

.container > p {
    text-align: center;
}



.cards {
    background-color: black;
}

.cards img {
    float: left;  
}

.cards h4, .cards p {
    color: white;
}

a {
    text-decoration: none;
    color: rgb(10, 171, 235);
}